<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Sistema de Controle de Títulos</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
  		<span class="navbar-brand mb-0 h1">Sistema de Controle de Títulos</span>
	</nav>
		    
	<section layout:fragment="conteudo">
		<p>Aqui vai o conteúdo principal da página</p>
	</section>

	<script src="/js/jquery-3.5.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/titulo.js"></script>
</body>
</html>